* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    color: #800020;    /* Dark gray */
    background-color: #fffdd0;
    padding-left: 5pt;
    
    
}
  
h1 {
    font-size: 2em;
    text-decoration: darkseagreen;
    text-align: center;
  }
  
h2 {
    font-size: 1.6em;
    /* find swoopy looking font*/font-family: "Papyrus"
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica", "Arial", sans-serif;
  }
ul {
    list-style-type:lower-alpha;
}
p {
  font-size: 10pt;
  font-family: "Helvetica", "Arial", sans-serif;
}
